{% extends "webapp/base.html" %}

{% block head %}<title>lifTUe password reset</title>{% endblock %}

{% block content %}
    <div class="text-center">
        <h2>Password Reset</h2>
        <hr/>
    </div>
    <div class="col-12">
        <form class="col-10 offset-1 well" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_new_password1" class="cols-sm-2 control-label">Password</label>
                <input pattern=".{8,}" type="password" class="form-control" name="new_password1" required
                       id="id_new_password1" placeholder="Password"/>
            </div>
            <div class="form-group">
                <label for="id_new_password2" class="cols-sm-2 control-label">Confirm Password</label>
                <input pattern=".{8,}" type="password" class="form-control" name="new_password2" required
                       id="id_new_password2" placeholder="Confirm password"/>
            </div>
            <div class="form-group ">
                <input type="submit" class="col-2 offset-5 btn btn-primary" value="Change my password"/>
            </div>
        </form>
    </div>
{% endblock %}
